.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #211D67;
    font-size: 30px;
    margin-left: 0%;
    text-align: center;
    transform: translateY(-10px);
  }